<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>UMC :: EDIT USER</title>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
	<body>
		<a th:href="@{/user/logout}"><button type="button" class="btn btn-danger m-2" style="float:right">LOGOUT</button></a>
		<div class="container-fluid" style="width:50%">
			<h1 align="center">USER MANAGEMENT CONSOLE</h1>
		<br>
		<h2 align="center">USER LIST</h2>
		<br>
		<form th:action="@{/users/edit-user}" th:object="${user}" method="POST">
			<div class="border border-secondary rounded p-2">
				
				<input type="hidden" th:field="*{userId}">
				
				<div class="form-group m-2">
					<label class="">Enter Name</label> 
					<input type="text" class="form-control" maxlength=20 th:field="*{name}" required>
				</div>
	
				<div class="form-group m-2">
					<label class="">Enter Email</label> 
					<input type="email" class="form-control" maxlength=128 th:field="*{email}" required>
				</div>
	
				<div class="form-group m-2">
					<label class="">Enter Password</label> 
					<input type="password" th:field="*{password}" class="form-control" maxlength=20>
				</div>
	
				<div class="text-center">
					<input type="submit" value="UPDATE" class="btn btn-primary">
					<input type="reset" value="RESET VALUES" class="btn btn-warning">
				</div>
			</div>
			</form>
		</div>
	</body>
</html>